{
    "server_endpoint": "http://xxxx.asmx",
    "company_id": "xxxx",
    "user_id": "E0xxx",
    "password": "xxx",
    "base_latitude": "xx.xxx",
    "base_longitude": "xx.xxx",
    "address": "xxxx"
}